html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 800px;
}

/*=========================== HEADER ===========================*/
div[class="head"], div[class="parameters"], div[class="research"]  {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

.head {
    justify-content: space-between;
    background-color: darkgray;
}

.head div {
    display: flex;
    align-items: center;
}

.head-icon {
    margin-right: 10px;
    height: 50px;
    width: 50px;
}

.head-title {
    font-size: 30px;
}

.parameters-icon {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    cursor: pointer;
}

/*========================= PARAMETERS ========================*/
div[class="parameters"] {
    justify-content: space-between;
}

.parameters-title {
    font-size: 20px;
}

/*=========================== RESEARCH ========================*/
.research {
    display: flex;
}

.research form {
    display: flex;
}

.search-bar input {
    height: 30px;
    width: 200px;
}

.search-bar button {
    cursor: pointer;
}

/*============================ TABLE ==========================*/
div[class="table"] {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 18px;
    border: 1px solid darkgrey;
}

/****** premiere ligne du tableau ******/
.htable {
    background-color: darkgrey;
    font-weight: bold;
    height: 40px;
    display: flex;
}

.htable div:not(:last-child) {
    border-right: 2px solid white;
}

/* les spans de la première ligne */
.htable div span {
    margin-left: 10px;
}

/* toutes les colonnnes du tableau sauf la dernière */
.htable > div:nth-of-type(1), .htable > div:nth-of-type(2), .htable > div:nth-of-type(3) {
    width: 300px;
}

/* dernière colonne du tableau */
.htable > div:nth-of-type(4) {
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
}

.htable > div:nth-of-type(4) span {
    font-weight: normal;
    margin-right: 20px;
}

.add-button {
    font-size: 20px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

/****** toutes les lignes du tableau ******/
.htable > div, .btable > div {
    display: flex;
    align-items: center;
}

.btable {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ltable {
    height: 40px;
    display: flex;
}

.ltable > div:nth-of-type(1), .ltable > div:nth-of-type(2), .ltable > div:nth-of-type(3) {
    width: 300px;
}

.ltable > div:nth-of-type(4) {
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
}

.ltable div span {
    margin-left: 10px;
}

.ltable div:not(:last-child) {
    border-right: 2px solid white;
}

.ltable {
    border-bottom: 1px solid darkgrey;
}

.ltable:hover {
    background-color: darkgrey;
}

/*=========================== HEADER ========================*/
/*
header {
    min-width: 1200px;
    width: 100%;
    min-height: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A; 
    overflow: auto;
}

.icon-help, .icon-previous {
    display: block;
    position: absolute;
    height: 60px;
    width: 60px;
    left: 10px;
    top: 10px;
    cursor: pointer;
    background-color: #333333;
    border-radius: 50%;
}

header h1 {
    color: white;
}*/

/*============================ MAIN =========================*/
/*
main {
    display: flex;
    width: 100%;
    min-height: 500px;
    height: 100%;
}
*/
/************** MENU ************/
/*
.menu {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    height: 100%;
    border-top: 2px solid white;
    background-color: #1A1A1A;
}

.actions-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.actions-list > div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
}

.actions-list > div img {
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}

.actions-list > div span {
    color: white;
}

.language-button {
    display: flex;
    position: absolute;
    width: 60px;
    height: 40px;
    bottom: 10px;
    left: 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: white;
    cursor: pointer;
}

span {
    display: block;
}

.en {
    display: none;
}
*/
/************* CONTENT ************/
/*
.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 700px;
    width: 100%;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, tr, td {
    border: 2px solid #1A1A1A;
    border-collapse: collapse;
}

tr td, tr th {
    text-align: center; 
}

tr td:nth-of-type(1) {
    min-width: 50px;
}

tr td:nth-of-type(2), tr td:nth-of-type(3), tr td:nth-of-type(4) {
    min-width: 200px;
}

tr td:nth-of-type(5) {
    display: flex;
    min-width: 150px;
    justify-content: center;
}

td img {
    display: block;
    margin-right: 10px;
    height: 30px;
    width: 30px;
}
*/
/********** FORMULAIRE ************/
/*
.formulaire {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    height: 100%;
    border-top: 2px solid white;
    background-color: #1A1A1A;
}

*/
/*===================== AUTRES =======================*/
/*
hr {
    width: 100%;
    margin-top: 10px;
    border: 1px solid white;
}
*/
